.pagination{
  display:flex;
  position: relative;
  width: 875px;
  height: 100px;
  margin:0 auto;
  margin-top:50px;
  margin-bottom:50px;
  justify-content: flex-end;
  align-items: center;
border:1px solid red;

}
@media screen and (max-width: 998px) {
  .pagination {
    width: 100%;
    padding:0 10px;
  }

  
}