.pagination{
  display:flex;
  position: relative;
  width: 875px;
  height: 100px;
  margin:0 auto;
  margin-top:50px;
  margin-bottom:50px;

}
.pagination-btn{
  position:absolute;
  text-decoration: none;
  background-color: #fff;
  align-self: flex-end;
  color: #000;
  padding:12px 7px;
  border: 1px solid grey;
  margin:0 4px;
  box-shadow: 0 .0625em .125em grey;
  border-radius: 8px;
  transition: box-shadow .3s ease;
  right: 0;

}
.pagination-btn:hover{
  box-shadow: 0 .0625em .125em rgb(66, 66, 66);
  outline: 2px solid #fff;
}
  .more{
    background-color: #008CFF;
    padding:10px 15px;
    color:#fff;
    border-radius: 8px;
    transition: background-color .3s ease;
  }
  .more:hover{
    background-color: #067ee0;
    color:#fff;
  }