@font-face {
    font-family: 'Facon';
    src: local('./Facon'),
        url('./Facon.woff2') format('woff2'),
        url('./Facon.woff') format('woff'),
        url('./Facon.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

