.header {  
  padding         : 20px;
  background-color: #8f0e0e;
  color           : white;
}
.header-container{
  width: 60%;
  margin: auto;
display : flex;
flex-direction: row;
justify-content : space-between;
align-items     : center;
}
.header-search{
  width: 250px;
  height: 35px;
  padding:0 10px;
  border-radius: 8px;
  border: none;
  outline: none;

}

.logo-container {
  width: 150px;

}

.logo {
  width : 100%;
  height: auto;
}

